* {
  /*margin: 4px !important;
  border: 1px black dashed !important;*/
  font-family: 'Poppins', sans-serif;
}

div {
  display: flex;
  flex-direction: row;
}

.TempVest {
  text-align: center;
  flex-direction: column;
}

.header {
  background-color: #B7BABC;
  color: black;
  height: 10vh;
}

.footer {
  background-color: #B7BABC;
  color: black;
  display: flex;
  height: 5vh;
  justify-content: space-around;
  align-items: flex-end;
}

.footer p {
  max-height: 100%;
  margin: 0 5vh 1vh 5vh;
}

form * {
  margin: 1vh;
}

.title {
  font-size: 2.5em;
  flex:1;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  letter-spacing: 3px;
}

.title img{
  margin: 0 8px;
  max-width: 13vw;
  max-height: 8vh;
}

.body {
  display: flex;
  text-align: center;
  min-height: 85vh;
  max-height: 85vh;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-image: url('./images/body-background.png');
  background-size: cover;
  position: relative;
}

.body h2 {
  font-family: 'Raleway', sans-serif;
  font-style: oblique;
  margin-bottom: 4vh;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%;
  font-size: 56px;
}

.gender-change{
  margin-top: 1vh;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 3vw;
  max-width: 25vw;
  max-height: 10vh;
  opacity: .6;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 100%
}

.statement {
  margin-top: 15vh;
  flex-direction: column;
}

.search {
  width: 20vw;
}

.submit {
  display: none;
}

.cards-container {
  margin: 0 0 14px 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: scroll;
}

.card {
  min-width: 30vw;
  border: 0.5px black solid;
  margin: 0;
  flex: 1;
  flex-direction: column;
}

.images {
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.images img{
  flex: 1;
  max-height: 50%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

sup {
    vertical-align: super;
    font-size: 12px;
}

.card:hover > ul{
  visibility: visible;
}

.credit {
  max-height: 5vh;
  display: inline-block;
  overflow-y: scroll;
}


@media screen and (max-width: 768px){
  .ga {
    display: none;
  }
  .header {
    padding-top: 3vh;
    height: 20vh;
    flex-direction: column;
  }

  .cards-container {
    min-width: 100vw;
  }

  .card {
    min-width: 80vw;
    width: 100%
  }

  .search {
    width: 75vw;
    margin-top: 2vh;
  }

  .submit {
    text-align: center;
    margin: 0;
    display: inline;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size: 1.25em;
    font-style: oblique;
    border: none;
    background: none;
    letter-spacing: 2px;
  }

  .header .title, .header form {
    align-items: center;
    justify-content: center;
  }

  .gender-change p {
    display: none;
  }
}
